body {
    margin: 0;
    font-family: sans-serif;
    overflow-x: hidden;
}

/* メニュー */
nav {
    position: fixed;
    width: 200px;
    height: 100%;
    background: rgb(65, 83, 142);
    padding: 20px;
    color: white;
}

nav a {
    display: block;
    margin: 35px 0;
    color: white;
    text-decoration: none;
}

/* メイン */
.container {
    margin-left: 220px;
    padding: 20px;
}

.section {
    padding: 40px;
    border-radius: 10px;
}

/* 背景色 */
.pokemon { background: skyblue; }
.kirby { background: pink; }
.undertale { background: rgb(0, 0, 0); color: rgb(0, 0, 0); }
.contact { background: white; }


/* 表 */
table {
    background-color: rgb(255, 255, 255);
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid #333;
    padding: 8px;
}

/* ボックス */
.box {
    border: 2px solid #333;
    padding: 10px;
    margin-top: 10px;
}


.box a {
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    color: blue;
    transition: 0.3s;
}


.box a:hover {
    background-color: rgb(255, 255, 248);
    border-radius: 5px; 
}


/* フォーム */
input, textarea {
    width: 100%;
    margin-bottom: 10px;
}



/* Contactページ */
.contact {
    background: #e6dede;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.contact-form {
    background: #ffffff;
    padding: 50px;
    border-radius: 30px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    width: 70%;
    max-width: 700px;
}

.contact-form input,
.contact-form textarea {
    width: 95%;
    padding: 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 40px;
    background: #ddd;
    font-size: 18px;
    resize: none;
}

.contact-form textarea {
    height: 150px;
    border-radius: 30px;
}

.contact-form button {
    width: 100%;
    padding: 20px;
    border: none;
    border-radius: 40px;
    background: #a66;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.contact-form button:hover {
    background: #944;
}

/* ホームページ */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: b 8s infinite;
}

.home-card {
    background: #ffffff;
    padding: 60px;
    border-radius: 30px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.2);
    width: 60%;
    max-width: 800px;
}

.home-title {
    font-size: 60px;
    color: rgb(88, 34, 37);
    margin-bottom: 10px;
}

.home-sub {
    font-size: 30px;
    color: #666;
    margin-bottom: 30px;
}

.home-card p {
    font-size: 18px;
    margin: 15px 0;
}

/* メニューリンク */
nav a {
    display: block;
    padding: 15px 20px;
    margin: 35px 0;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover{
    color:rgb(21, 2, 56);
    background: rgba(241, 237, 118, 0.92);
    transform: scale(1.1);
    border-radius: 5px;
}

.circle-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    padding-bottom: 30px;
    margin-left: 200px;
}
.circle{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 11px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3;
}
.circle:hover{
    transform: scale(1.2);
}
.facebook{background-color: blue;}
.insta{background-color: rgb(232, 92, 92);}
.line{background-color: rgb(154, 217, 61);}
.x{background-color: black;}
.youtube{background-color: red;}

/*ロード画面 */
#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 9999;

    opacity: 1;
    transition: opacity 0.5s;
}

#overlay-text {
    font-size: 60px;
    color: #888;
    transform: rotate(-15deg);
    font-weight: bold;
}

/* 背景色アニメーション */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background: linear-gradient(
        90deg,
        pink,
        rgb(255, 255, 162),
        skyblue,
        black,
        rgb(135, 74, 135),
        pink
    );

    background-size: 400% 100%;

    animation: b 6s linear infinite;
}

@keyframes b {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 0%;
    }
}
